
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: "Montserrat", sans-serif;
  text-align: center;
  }



header {
/*  background: rgb(255,192,203); */
/*  background: rgb(255,163,240); */
  background: rgb(198,102,255);
  padding: 10px;
  position: center;
}

.section1 {
  width: 100%;
  height: auto;
  background: rgb(228,187,254)
}
.evnet{
  width: 100%;
  height: auto;
  positon:center;
  background: rgb(228,187,254)
}

.img-event{
  max-width:100%;
  height:auto;
}

.ev1 {
  flex:1;
  position: center;
  text-align: center;
}

  
label {
  display: inline-block;
  font-weight: bold;
  padding: 10px;
  color: black;
  font-size: 15px;
}

input {
  border: none;
  font-size: 20px;
  height: 40px;
  padding: 10px;
}

section button {
  padding: 5px 7px;
  margin: 15px;
  border: none;
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
  background: rgb(54, 54, 54);
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: center;
}
section button:hover {
  background: rgb(39, 39, 39);
  position: center;
}

.randomNumEl {
 background: rgb(0, 0, 0);
  color: yellow;
  font-size: 70px;
/*   margin: 20px auto; */
}

.img-event{
  max-width:100%;
  height:auto;
}

